<!DOCTYPE html>
<html>

<head>
  <title>Rapido </title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<nav>
  <div class="nav-wrapper grey darken-4 z-depth-2 hoverable">
    <a href="#" class="brand-logo center"><img src="../images/logo.png" alt="Logo not found"></a>
  </div>
</nav>

<body>
  {{{body}}}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>